# Python virtual environment
venv/

# Nextflow files
.nextflow.log*
.nextflow/
work/
results/
nextflow  # Nextflow executable itself

# Nextflow reports
*report.html
*trace.txt
*timeline.html

# Data files (e.g., dummy data, downloaded references)
data/ 